.form {
  color: #def092;
  padding: 0px 8px 0px 10px;
  position: sticky;
  top: 80px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.form div {
  margin: 10px 0px;
}
input {
  display: block;
  padding: 10px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 16px;
  color: #def092;
  border: 1px solid #def092;
  cursor: pointer;
  background-color: #031402;
  font-family: "Nunito Sans", sans-serif;
}
input::placeholder,
textarea::placeholder {
  color: #def092;
  font-style: italic;
  opacity: 0.4;
}
input[type="text"]:focus {
  outline: none;
  border: 1px solid #def092;
  box-shadow: 0 0 5px #def092;
}
input[type="date"]:focus {
  outline: none;
  border: 1px solid #def092;
  box-shadow: 0 0 5px #def092;
}
input.ng-invalid.ng-touched {
  border: 1px solid rgb(255, 53, 53);
}
.calendar {
  cursor: text;
  color: #031402;
  background-color: #def092;
}
.bigtext {
  font-size: 100px;
  font-weight: 900;
  line-height: 95%;
  margin-bottom: 20px;
  letter-spacing: -1.5px;
}
button {
  width: 90px;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 25px;
  background-color: #031402;
  color: #def092;
  border: 1px solid #def092;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  margin-left: auto;
}

button:hover {
  background-color: #def092;
  color: #031402;
  border: 1px solid #031402;
}

@media (width >=400px) {
  .form {
    margin-right: 0px;
  }
}
@media (width >=1200px) {
  .form {
    margin-right: 100px;
  }
}
