<div class="form">
  <p class="bigtext">New frames</p>
  <form #myForm="ngForm">
    <div>
      <label for="title">Nombre de la obra</label>
      <input
        type="text"
        id="title"
        [(ngModel)]="newArt.title"
        placeholder="..."
        name="title"
        required
      />
    </div>
    <div>
      <label for="about">Sobre la obra</label>
      <input
        type="text"
        id="about"
        [(ngModel)]="newArt.about"
        placeholder="..."
        name="about"
        required
      />
    </div>
    <div>
      <label for="image">Imagen</label>
      <input
        type="text"
        id="image"
        placeholder="URL"
        [(ngModel)]="newArt.image"
        name="image"
        required
        pattern="https?://.+"
      />
    </div>
    <div>
      <label for="day">Fecha de publicación</label>
      <input
        class="calendar"
        type="date"
        id="day"
        [(ngModel)]="newArt.date"
        name="date"
        required
      />
    </div>
    <button (click)="getArt()" type="submit" [disabled]="!myForm.valid">
      Publicar
    </button>
  </form>
</div>
