<div class="form">
  <p class="bigtext">New frames</p>
  <div>
    <label for="title">Nombre de la obra</label>
    <input type="text" id="title" [(ngModel)]="newArt.title" />
  </div>
  <div>
    <label for="about">Sobre la obra</label>
    <input type="text" id="about" [(ngModel)]="newArt.about" />
  </div>
  <div>
    <label for="day">Fecha de publicación</label>
    <input type="date" id="day" [(ngModel)]="newArt.date" />
  </div>
  <div>
    <label for="image">Imagen</label>
    <input
      type="text"
      id="image"
      placeholder="URL"
      [(ngModel)]="newArt.image"
    />
  </div>
  <button (click)="getArt()">Nuevo</button>
</div>
