.frames .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding: 0px 10px;
}

.frames .flex article {
  width: 100%;
  border: 1px solid #def092;
  padding: 20px;
  color: #def092;
  background-color: #031402;
}
h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}
.date {
  font-size: 11px;
  letter-spacing: 1px;
}
.about {
  font-size: 15px;

  margin-bottom: 18px;
}
.image {
  padding-bottom: 18px;
}

@media (width >=800px) {
  .frames .flex article {
    width: calc(100% - 0.625rem);
  }
}

@media (width >=1200px) {
  .frames .flex article {
    width: calc(50% - 0.625rem);
  }
}
